@import '../../variables/globalMixins';
@import '../../variables/variables';
@import '../../variables/breakpoints';

#sobre {
  @include flexCenter();
  flex-wrap: wrap;
  background-color: $lightBgColor;
  box-sizing: none;
}
.aboutImageContainer {
  flex-basis: 50%;
  height: 70vh;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @include mobile {
    display: none;
  }
}
.aboutDescription {
  flex-basis: 50%;
  color: $blackColor;
  align-self: normal;
  padding: 0 2rem;
  font-size: 1.5rem;
  font-size: 1.5vw;
  line-height: 2.3rem;
  text-align: center;
  @include flexCenter(column);
  justify-content: center;
  @include tablet {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
  @include mobile {
    flex-basis: 100%;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
.aboutRodape {
  flex-basis: 100%;
  background-color: $blackColor;
  color: $fontGreyColor;
  padding: 2rem 0;
  ul {
    @include flexCenter();
    list-style: none;
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
  @include mobile {
    padding: 1rem 0;
    ul {
      flex-wrap: wrap;
      font-size: 1rem;
    }
    li {
      padding: 0.5rem;
    }
  }
}
