@import '../../variables/globalMixins';
@import '../../variables/variables';
@import '../../variables/breakpoints';

#bienvenido {
  @include flexCenter();
  height: 100vh;
  padding-top: 5rem;
  padding-left: 6rem;
  padding-right: 6rem;
  background-color: $blackColor;

  @include mobile {
    flex-wrap: wrap;
    padding: 6rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
  }
}
.content {
  flex: 1;
  @include flexCenter(column);
  height: 65vh;
  align-items: stretch;
  color: $fontGreyColor;

  p:first-child {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h1 {
    font-size: 4vw;
    font-weight: normal;
  }
  p:nth-child(2) {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 2rem 0 1rem 0;
  }
  p:nth-child(3) {
    font-size: 5vw;
  }
  .mainTitle {
    min-height: 35vh;
  }
  .callToAction {
    text-align: center;
    button {
      @include contactButton();
    }
  }
  @include mobile {
    height: 50vh;
    justify-content: space-between;
    .mainTitle {
      min-height: 100px;
    }
    h1 {
      font-size: 2.2rem;
      color: $brightYellow;
      text-decoration-color: $brightYellow;
    }
    p:nth-child(3) {
      font-size: 2.5rem;
    }
  }
}

.imageContainer {
  flex: 1;
  text-align: center;
  min-width: 300px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    // filter: drop-shadow(0px 0px 25px rgba(252, 251, 251, 0.5));
  }
}
